<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Account</title>
</head>

<body>
    <div class="container">

        <h1>Your account</h1>
        <p>Hello <%=email%><br />Your balance is: <%=balance%>
        </p>

        <p>Enter new transaction details to earn points:</p>
        <form class="form-inline" action="/signIn/account/addTransaction" method="POST">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">receiptId</label>
                <input type="text" class="form-control fieldbox" placeholder="ID of the receipt" name="receiptId"
                    onkeyup="fieldChecker()">
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">DKK amount paid</label>
                <input type="text" class="form-control fieldbox" placeholder="DKK amount paid" name="paid"
                    onkeyup="fieldChecker()">
            </div>
            <button type="submit" class="btn btn-primary mb-2 confirmBtn">Confirm</button>
        </form>

        <a class="btn btn-primary" id="signUpBtn" href="/" role="button">Home</a>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            function emailChecker() {
                let x = document.querySelector("#confirmEmail").value;
                let y = document.querySelector(".confirmBtn");
                let atposition = x.indexOf("@");
                let dotposition = x.lastIndexOf(".");
                if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= x.length) {
                    y.setAttribute("disabled", "disabled");
                }
                else {
                    y.removeAttribute("disabled");
                }
            }</script>

    </div>
</body>

</html>